<h2>Show Game</h2>

<%= if @host do %>
<ul>

  <li>
    <strong>Game:</strong>
    <%= @game.slug %>
    </li>
    <li>
    <strong>Host:</strong>
    <%= @game.host %>
  </li>

</ul>

<%= else %>
 <li>
  <strong> Welcome to the Game <strong>
 </li>
  <li>
   <strong>Host is:</strong>
   <%= @game.host %>
  </li>

<% end %>

